<div class="container_small-card">
  <div class="container_small-card_content">
    <div class="small-card_photo">
      <img src="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7"
      alt="small-card_photo">
    </div>
    <div class="small-card_note">
      <div class="small-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
      </div>

      <div class="small-card_description">
        <p>blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá blá</p>
      </div>
      <div class="container_small-card_separator">
        <hr>
      </div>
    </div>

  </div>
</div>



