.container_small-card {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.container_small-card_content {
  display: flex;
  flex-direction: row;
}

.small-card_photo > img {
  height: 100px;
  min-height: 100px;
  max-width: 100%;
  margin-right: 20px;
}

.small-card_note {
  display: flex;
  flex-direction: column;
}

.small-card_title > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
}

.small-card_description > p {
  margin-top: 10px;
  color: gray;
}

.container_small-card_separator {
  margin-top: 10px;
}
