<div class="container_content">

  <div class="content_cover">
    <img src="{{ photoCover }}" alt="">
  </div>
  <div class="content_title">
    <h1>{{contentTitle}}</h1>

    <hr />
  </div>
  <div class="content_description">
    <a [routerLink]="['']"><< voltar</a>
    <p>{{contentDescription}}</p>
  </div>
</div>

<!--
  <div class="container_content">

  <div class="content_cover">
    <img src="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7" alt="">
  </div>
  <div class="content_title">
    <h1>Ninha Notícia</h1>

    <hr />
  </div>
  <div class="content_description">
    <a [routerLink]="['']"><< voltar</a>
    <p>Hello World</p>
  </div>
</div>
-->
