<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      photoCover="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7"
      cardTitle="Saiu nova versão do Angular"
      cardDescrition="blá blá blá">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7"
      cardTitle="Saiu nova versão do Angular">
    </app-small-card>
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7"
      cardTitle="Saiu nova versão do Angular">
    </app-small-card>
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.CbdzSV3wjBjHBk13IXcECAHaEK?w=322&h=181&c=7&r=0&o=5&pid=1.7"
      cardTitle="Saiu nova versão do Angular">
    </app-small-card>
  </div>

</div>
